<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../static/css/styles.css">
    
    <!-- ../static/css/styles.css"> -->

    <title>Integer exp</title>

</head>

<body>
    <h1 class="text-center heading">INTEGER ARITHMETIC</h1>
    

    <div class="left">

        <button>ADD</button> <br>
        <button>RESET</button> <br>
        <button>SWITCH TO 5-BIT</button> <br>
        
        <h3 class="heading res" >RESULTS</h3>

        <table class="results table-responsive" id="res">
            <tr>
                <td>1.</td>
                <td>Binary Rep</td>
                <td>          </td>
            </tr>
            <tr>
                <td>2.</td>
                <td>2's comp</td>
                <td>        </td>
            </tr>
            <tr>
                <td>3.</td>
                <td>1's comp</td>
                <td> </td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Unsigned</td>
                <td> </td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Signed</td>
                <td> </td>
            </tr>
        </table>



    </div>



    <div class="right">

        <table class="integers table-responsive" id="table">
            <tr>
                <td>SNO.</td> <td>BINARY REP</td> <td>2'S COMP</td> <td>1'S COMP</td> <td>UNSIGNED</td> <td>SIGNED</td>
            </tr>
            <tr id="1">
                <td>1.</td> <td>0000</td> <td>0</td> <td>+0</td> <td>0</td> <td>+0</td>
            </tr>
            <tr id="2">
                <td>2.</td> <td>0001</td> <td>1</td> <td>1</td> <td>1</td> <td>1</td>
            </tr>
            <tr id="3">
                <td>3.</td> <td>0010</td> <td>2</td> <td>2</td> <td>2</td> <td>2</td>
            </tr>
            <tr id="4">
                <td>4.</td> <td>0011</td> <td>3</td> <td>3</td> <td>3</td> <td>3</td>
            </tr>
            <tr id="5">
                <td>5.</td> <td>0100</td> <td>4</td> <td>4</td> <td>4</td> <td>4</td>
            </tr>
            <tr id="6">
                <td>6.</td> <td>0101</td> <td>5</td> <td>5</td> <td>5</td> <td>5</td>
            </tr>
            <tr id="7">
                <td>7.</td> <td>0110</td> <td>6</td> <td>6</td> <td>6</td> <td>6</td>
            </tr>
            <tr id="8">
                <td>8.</td> <td>0111</td> <td>7</td> <td>7</td> <td>7</td> <td>7</td>
            </tr>
            <tr id="9">
                <td>9.</td> <td>1000</td> <td>-8</td> <td>-7</td> <td>8</td> <td>-7</td>
            </tr>
            <tr id="10">
                <td>10.</td> <td>1001</td> <td>-7</td> <td>-6</td> <td>9</td> <td>-6</td>
            </tr>
            <tr id="11">
                <td>11.</td> <td>1010</td> <td>-6</td> <td>-5</td> <td>10</td> <td>-5</td>
            </tr>
            <tr id="12">
                <td>12.</td> <td>1011</td> <td>-5</td> <td>4</td> <td>11</td> <td>-4</td>
            </tr>
            <tr id="13">
                <td>13.</td> <td>1100</td> <td>-4</td> <td>-3</td> <td>12</td> <td>-3</td>
            </tr>
            <tr id="14">
                <td>14.</td> <td>1101</td> <td>-3</td> <td>-2</td> <td>13</td> <td>-2</td>
            </tr>
            <tr id="15">
                <td>15.</td> <td>1110</td> <td>-2</td> <td>-1</td> <td>14</td> <td>-1</td>
            </tr>
            <tr id="16">
                <td>16.</td> <td>1111</td> <td>-1</td> <td>-0</td> <td>15</td> <td>-0</td>
            </tr>

        </table>

    </div>

    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../static/js/addition.js" ></script>

</body>

</html>