<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:600|Maven+Pro:900" rel="stylesheet">
    <!-- ../static/css/styles.css"> -->

    <title>Integer exp</title>

</head>

<body>
    <h1 class="text-center heading">INTEGER ARITHMETIC</h1>

    <div class="help">
        <a href="./help"><img class="help-img" src="../static/images/help2.png" alt=""></a>
        <a href="./experiment"><img class="help-img" src="../static/images/back.png" alt=""></a>

    </div>
  
    <div class="left">

        <button id="add" class="button myButton">ADD</button> <br>
        <button class="button myButton" onclick="location.reload();">RESET</button> <br>
        <a href="/exp1" class="myButton button"> SWITCH TO 4-BIT </a>
        <h3 class="heading res" >RESULTS</h3>

        <table class="results table-responsive" id="res">
            <tr>
                <td>1.</td>
                <td>Binary Rep</td>
                <td id="resbinary">          </td>
            </tr>
            <tr>
                <td>2.</td>
                <td>2's comp</td>
                <td id="restwo">        </td>
            </tr>
            <tr>
                <td>3.</td>
                <td>1's comp</td>
                <td id="resone"> </td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Unsigned</td>
                <td id="resunsigned"> </td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Signed</td>
                <td id="ressigned"> </td>
            </tr>
        </table>



    </div>



    <div class="right">

        <table class="integers table-responsive" id="table">
            <thead class="thead-light">
                <tr class="header-row" ><th>SNO.</th> <th>BINARY REP</th> <th>2'S COMP</th> <th>1'S COMP</th> <th>UNSIGNED</th> <th>SIGNED</th></tr>

            </thead>
            <tr id="1">
                <td>1.</td> <td>00000</td> <td>0</td> <td>+0</td> <td>0</td> <td>+0</td>
            </tr>
            <tr id="2">
                <td>2.</td> <td>00001</td> <td>1</td> <td>1</td> <td>1</td> <td>1</td>
            </tr>
            <tr id="3">
                <td>3.</td> <td>00010</td> <td>2</td> <td>2</td> <td>2</td> <td>2</td>
            </tr>
            <tr id="4">
                <td>4.</td> <td>00011</td> <td>3</td> <td>3</td> <td>3</td> <td>3</td>
            </tr>
            <tr id="5">
                <td>5.</td> <td>00100</td> <td>4</td> <td>4</td> <td>4</td> <td>4</td>
            </tr>
            <tr id="6">
                <td>6.</td> <td>00101</td> <td>5</td> <td>5</td> <td>5</td> <td>5</td>
            </tr>
            <tr id="7">
                <td>7.</td> <td>00110</td> <td>6</td> <td>6</td> <td>6</td> <td>6</td>
            </tr>
            <tr id="8">
                <td>8.</td> <td>00111</td> <td>7</td> <td>7</td> <td>7</td> <td>7</td>
            </tr>
            <tr id="9">
                <td>9.</td> <td>01000</td> <td>8</td> <td>8</td> <td>8</td> <td>8</td>
            </tr>
            <tr id="10">
                <td>10.</td> <td>01001</td> <td>9</td> <td>9</td> <td>9</td> <td>9</td>
            </tr>
            <tr id="11">
                <td>11.</td> <td>01010</td> <td>10</td> <td>10</td> <td>10</td> <td>10</td>
            </tr>
            <tr id="12">
                <td>12.</td> <td>01011</td> <td>11</td> <td>11</td> <td>11</td> <td>11</td>
            </tr>
            <tr id="13">
                <td>13.</td> <td>01100</td> <td>12</td> <td>12</td> <td>12</td> <td>12</td>
            </tr>
            <tr id="14">
                <td>14.</td> <td>01101</td> <td>13</td> <td>13</td> <td>13</td> <td>13</td>
            </tr>
            <tr id="15">
                <td>15.</td> <td>01110</td> <td>14</td> <td>14</td> <td>14</td> <td>14</td>
            </tr>
            <tr id="16">
                <td>16.</td> <td>01111</td> <td>15</td> <td>15</td> <td>15</td> <td>15</td>
            </tr>
            <tr id="17">
                <td>17.</td> <td>10000</td> <td>-16</td> <td>-15</td> <td>16</td> <td>-0</td>
            </tr>
            <tr id="18">
                <td>18.</td> <td>10001</td> <td>-15</td> <td>-14</td> <td>17</td> <td>-1</td>
            </tr>
            <tr id="19">
                <td>19.</td> <td>10010</td> <td>-14</td> <td>-13</td> <td>18</td> <td>-2</td>
            </tr>
            <tr id="20">
                <td>20.</td> <td>10011</td> <td>-13</td> <td>-12</td> <td>19</td> <td>-3</td>
            </tr>
            <tr id="21">
                <td>21.</td> <td>10100</td> <td>-12</td> <td>-11</td> <td>20</td> <td>-4</td>
            </tr>
            <tr id="22">
                <td>22.</td> <td>10101</td> <td>-11</td> <td>-10</td> <td>21</td> <td>-5</td>
            </tr>
            <tr id="23">
                <td>23.</td> <td>10110</td> <td>-10</td> <td>-9</td> <td>22</td> <td>-6</td>
            </tr>
            <tr id="24">
                <td>24.</td> <td>10111</td> <td>-9</td> <td>-8</td> <td>23</td> <td>-7</td>
            </tr>
            <tr id="25">
                <td>25.</td> <td>11000</td> <td>-8</td> <td>-7</td> <td>24</td> <td>-8</td>
            </tr>
            <tr id="26">
                <td>26.</td> <td>11001</td> <td>-7</td> <td>-6</td> <td>25</td> <td>-9</td>
            </tr>
            <tr id="27">
                <td>27.</td> <td>11010</td> <td>-6</td> <td>-5</td> <td>26</td> <td>-10</td>
            </tr>
            <tr id="28">
                <td>28.</td> <td>11011</td> <td>-5</td> <td>-4</td> <td>27</td> <td>-11</td>
            </tr>
            <tr id="29">
                <td>29.</td> <td>11100</td> <td>-4</td> <td>-3</td> <td>28</td> <td>-12</td>
            </tr>
            <tr id="30">
                <td>30.</td> <td>11101</td> <td>-3</td> <td>-2</td> <td>29</td> <td>-13</td>
            </tr>
            <tr id="31">
                <td>31.</td> <td>11110</td> <td>-2</td> <td>-1</td> <td>30</td> <td>-14</td>
            </tr>
            <tr id="32">
                <td>32.</td> <td>11111</td> <td>-1</td> <td>-0</td> <td>31</td> <td>-15</td>
            </tr>



        </table>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../static/js/addition.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/addition.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>